 <h2 class="clr-6">Formulario Pre-Matricula</h2>
                    <form id="form"  >

                      <div class="row">
                          <div class="col-md-2">
                            <label><strong>Cédula:</strong> </label>
                          </div>
                          <div class="col-md-6" >
                            <input type="text" class ="form-control" value="" name= "cedula" id="cedula" size="10"  required autofocus placeholder="Cédula del niño/a" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                          </div>  
                      </div>
                      
                      <div class="row">
                          <div class="col-md-2">
                            <label><strong>Nombre:</strong> </label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" class ="form-control" value="" name="textnom_usuario" id="textnom_usuario" required placeholder="Nombre del niño/a" onkeypress="return soloLetras(event)" maxlength="50">
                          </div>  
                      </div>

                        <div class="row">
                          <div class="col-md-2">
                            <label><strong>Fecha de Naciemiento:</strong> </label>
                          </div>
                          <div class="col-md-4">
                             <input type="date" class ="form-control" value="" name="textfecha_naci" id="textfecha_naci" required>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Sexo</strong></label>
                          </div>
                          <div class="col-md-6">
                             <input type="radio" value="M" name="opsexo" id="opsexo"/> Masculino
                             <input type="radio" value="F" name="opsexo" id="opsexo"/> Femenino
                          </div>
                      </div>

                      <div class="row"> 
                            <div class="col-md-4">
                              <div class="col-md-4">
                                <label><strong>Talla</strong></label>
                              </div>
                              <div claas="col-md-1">
                                <input type="number" class ="form-control" value="" name="numtalla" id="numtalla" placeholder="Medida en cm">
                              </div>    
                            </div>

                            <div class="col-md-4">
                              <div class="col-md-2">
                                <label><strong>Peso: </strong></label>
                              </div>
                              <div claas="col-md-2">
                                <input type="number" class ="form-control" value="" name="numpeso" id="numpeso" placeholder="Medida en lb">
                              </div>    
                            </div>

                            <div class="col-md-4">
                              <div class="col-md-2">
                                <label><strong>Torax: </strong></label>
                              </div>
                              <div claas="col-md-2">
                                <input type="number" class ="form-control" value="" name="numtorax" id="numtorax" placeholder="Medida en cm">
                              </div>    
                            </div>

                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Jornada</strong></label>
                          </div>
                          <div class="col-md-6">
                             <input type="radio" value="1"  name="opjornada" id="opjornada"/> Media
                             <input type="radio" value="2" name="opjornada" id="opjornada"/> Completa
                          </div>
                      </div>

                       <div class="row">
                          <div class="col-md-2">
                          <label><strong>Nivel: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <input type="radio" value="1" name="opnivel" id="textopnivel"/> Inicial 1
                             <input type="radio" value="2" name="opnivel" id="textopnivel"/> Inicial 2 (3-4) años
                             <input type="radio" value="3" name="opnivel" id="textopnivel"/> Inicial 3 (4-5) años
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Lunch: </strong></label>
                          </div>
                          <div class="col-md-6">
                             <input type="radio" value="1"  name="oplunch" id="textoplunch"/> Si
                             <input type="radio" value="2" name="oplunch" id="textoplunch"/> No
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Alimentos que no puede consumir: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <textarea class="form-control" name="textalimen_exc" id="textalimen_exc" placeholder="Opcional"></textarea>
                          </div>
                      </div>
                      <br>

                       <div class="row">
                          <div class="col-md-2">
                          <label><strong>Problemas de salud: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <textarea class="form-control" name="textprob_salud" id="textprob_salud" placeholder="Opcional"></textarea>
                          </div>
                      </div>
                      <br>
                       <div class="row">
                          <div class="col-md-2">
                          <label><strong>Alergias del niño: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <textarea class="form-control" name="textaler_niño" id="textaler_niño" placeholder="Opcional"></textarea>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Medicacion que recibe: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <textarea class="form-control" name="textmedi_recibe" id="textmedi_recibe" placeholder="Opcional"></textarea>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Nombre del pediatra: </strong></label>
                          </div>
                          <div class="col-md-5">
                             <input type="text" class ="form-control" value="" name="text_nom_pedia" id="text_nom_pedia" onkeypress="return soloLetras(event)" maxlength="50" placeholder="Pediatra">
                          </div>
                          <div class="col-md-2">
                          <label><strong>Telf: </strong></label>
                          </div>
                          <div class="col-md-3">
                          <input type="text" class ="form-control" value="" name="numtelf" id="numtelf" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" placeholder="Telf Pediatra">
                          </div>
                      </div>
                   
                      <div class="row">
                          <div class="col-md-2">
                          <label><strong>Persona que recibe al niño: </strong></label>
                          </div>
                          <div class="col-md-5">
                             <input type="text" class ="form-control" value="" name="textreci_niño" id="textreci_niño" onkeypress="return soloLetras(event)" maxlength="50" placeholder="Papa, Mama, hermano, etc">
                          </div>
                          <div class="col-md-2">
                          <label><strong>Telf de emergencia: </strong></label >
                          </div>
                          <div class="col-md-3">
                          <input type="text" class ="form-control" value="" name="num_telf_emerg" id="num_telf_emerg" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" placeholder="Papa, mama, ect">
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-md-2">
                            <label><strong>Observaciones: </strong></label>
                          </div>
                          <div class="col-md-8">
                             <textarea class="form-control" name="textobserv" id="textobserv" placeholder="Opcional"></textarea>
                          </div>
                      </div>
                      <br>
                       <div class="row">
                          <div class="col-md-2">
                            <label><strong>Centro educativo anterior:</strong> </label>
                          </div>
                          <div class="col-md-5">
                            <input type="text" class ="form-control" value="" name="textcentro_edu" id="textcentro_edu" placeholder="Opcional">
                          </div>  
                      </div>

                     <br>
                      <div class="row"> 
                        <div class="col-md-3">
                          

                        </div>
                        <div class="col-md-3">
                          <input class="btn btn-lg btn-primary btn-block" type="button" id = "btncancelar" value="Cancelar" ng-click="inicializar()"></input>

                        </div>

                        <div class="col-md-3">
                          <input class="btn btn-lg btn-primary btn-block" type="reset" id = "btnregistrar" value="Guardar" ng-click="enviarDatos()"></input>

                        </div>

                      </div>
                      <br>
                      <div id="resultado">


                      </div>
                    </form> 