<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pekelandia-Inicio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_12.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.7.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/tms-0.4.1.js"></script>
    <script type="text/javascript" src = "js/code.js"></script>
    <script>
        $(document).ready(function(){                   
            $('.slider')._TMS({
                show:0,
                pauseOnHover:true,
                prevBu:'.prev',
                nextBu:'.next',
                playBu:false,
                duration:800,
                preset:'fade',
                pagination:true,
                pagNums:false,
                slideshow:7000,
                numStatus:false,
                banners:false,
                waitBannerAnimation:false,
                progressBar:false
            })      
        });
    </script>
    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
    <script src="angular-1.4.6/angular.js"></script>
     
    <script src="angular-1.4.6/ngStorage.min.js"></script>
 <script src="angular-1.4.6/angular-local-storage.js"></script>
 <script src="angular-1.4.6/angular-route.js"></script>
<script src="js/myApp.js"></script>
</head>
<body ng-app="myApp" ng-controller="noticiasController" ng-init = "inicializar()">
  <div class="main">
  <!--==============================header=================================-->
    <header>
        <h1><a href="index.html"><img src="images/PKlogo.png" alt=""></a></h1>
        <nav>  
            <div id="slide">        
                <div class="slider">
                    <ul class="items">
                        <li><img src="images/slider-1.jpg" alt="" /></li>
                        <li><img src="images/peke1.jpg" alt="" /></li>
                        <li><img src="images/peke2.jpg" alt="" /></li>
                        <li><img src="images/peke3.jpg" alt="" /></li>
                    </ul>
                </div>  
                <a href="#" class="prev"></a><a href="#" class="next"></a>
            </div>
            <ul class="menu">
                <li class="current"><a href="index.html#/inicio" class="clr-1">Inicio</a></li>
                <li><a href="acerca.html" class="clr-2">Acerca</a></li>
                <li><a href="calendario.html" class="clr-3">Calendario</a></li>
                <li><a href="matricula.html" class="clr-4">Matricula</a></li>
                <li><a href="contactos.html" class="clr-5">Contacto</a></li>
            </ul>
         </nav>
    </header>   
  <!--==============================content================================-->
    <section id="content">
        <div class="container_12">  


          <div class="grid_4 bot-1">
            <br>
            <br>
            <div class="art"></div>
           
            <br>
            <br>
           <h2 class="top-1 p2">Noticias</h2>
           <div >
                      <div ng-repeat="x in listNoticias">

                    <p class="text-1 p3"> {{x.FECHA_NOTICIA}} | {{x.TITULO}}</p>
                    <p>{{x.RESUMEN}}<a ng-click="ver_mas(x)" class="link" role="button" >Leer mas...</a></p> 
                    

                <br>
                </div>
            </div>

            
          </div>


          <div class="grid_8">
            <div class="pad-1">
                <h2 class="p2">Bienvenidos a Pekelandia</h2>
                <p class="text-1" style="text-align: justify">El Centro de Educación Inicial PEKELANDIA tiene como objetivo lograr el desarrollo integral de los niños y niñas desde los 18 meses a 5 años de edad, a través de una educación temprana inclusiva, de calidad y con equidad, con enfoque de derechos, respetando la diversidad, el ritmo natural de crecimiento y aprendizaje, fortaleciendo valores fundamentales y la corresponsabilidad familiar y social en el proceso de formación.</p>
            </div> 
            <div class="block-1">
                <div id="formu" class="block-1-shadow"  ng-view="">
                
              
                
                </div>
            </div>
            <!--==============================footer=================================-->
             <footer>
                <p>© 2017 CEI Pekelandia</p>
                <p>Visitanos en facebook.com <a class="link" href="https://www.facebook.com/ceipekelandia?fref=ts" target="_blank" rel="nofollow">Pekelandia</a></p>
            </footer>     
          </div>
          <div class="clear"></div>
        </div>
    </section>    
   </div>      
</body>
</html>